<ion-view title="Areas de Especialidad" id="page4" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="areasDeEspecialidad-list5" class=" ">
            <ion-item class="item-icon-right balanced  " id="areasDeEspecialidad-list-item7" ui-sref="informaciNEspecialidad">Sala de Emergencia
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="areasDeEspecialidad-list-item8" ui-sref="informaciNEspecialidad">Medicina Interna
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="areasDeEspecialidad-list-item9" ui-sref="informaciNEspecialidad">Cirugia General
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>