<ion-view title="Buscar Medico" id="page8" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="buscarMedico-form10" class="list ">
            <label class="item item-input" name="buscarM">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Teclee la especealidad">
            </label>
        </form>
        <a ui-sref="resultadoBusqueda" id="buscarMedico-button5" style="font-weight:600;font-size:21px;border-radius:5px 5px 5px 5px;" class=" button button-balanced  button-block icon-right ion-android-search ">Buscar</a>
    </ion-content>
</ion-view>