<ion-view title="Horarios de  Atención" id="page6" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="horariosDeAtenciN-list8" class=" ">
            <ion-item class="item-icon-right balanced  " id="horariosDeAtenciN-list-item11" ui-sref="informaciNDeLosHorarios">Sala de Emergencia
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="horariosDeAtenciN-list-item16" ui-sref="informaciNDeLosHorarios">Medicina Interna
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="horariosDeAtenciN-list-item17" ui-sref="informaciNDeLosHorarios">Cirugia General
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>