<ion-view title="Información de los Medicos " id="page11" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="informaciNDeLosMedicos-list7" class=" ">
            <ion-item class="item-avatar balanced  " id="informaciNDeLosMedicos-list-item13">
                <img src="img/zyGEugmT0yvIcMbtEixb_dra sofia.jpeg">
                <h2balanced>Dra. Sofia Ayala
                    <p style="white-space:normal;">Hospital Isidro Ayora</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="informaciNDeLosMedicos-list-item14">
                <img src="img/2IY6RaKcSxSRIRsOFyjp_avatarDr.jpeg">
                <h2balanced>Dr. Francisco Pelaez
                    <p>Hospital Isidro Ayora</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="informaciNDeLosMedicos-list-item15">
                <img src="img/4UZ2DqstQqWp9dzgnINz_avatarDr.jpeg">
                <h2balanced>Dr. Juan Ariaga
                    <p>Hospital Isidro Ayora</p>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>