<ion-view title="Información" id="page3" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="informaciN-list4" class=" ">
            <ion-item class="item-icon-right balanced  " id="informaciN-list-item4" ui-sref="areasDeEspecialidad">Areas Especializadas
                <i class="icon ion-ios-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="informaciN-list-item5" ui-sref="horariosDeAtenciN">Horarios de Atención
                <i class="icon ion-android-person"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="informaciN-list-item6" ui-sref="servicios">Servicios
                <i class="icon ion-alert-circled"></i>
            </ion-item>
        </ion-list>
        <div>
            <br>
            <style type="text/css">
                table {
                   width: 100%;
                   border: 1px solid #000;
                }
                th, td {
                   width: 25%;
                   text-align: center;
                   vertical-align: top;
                   border: 1px solid #000;
                   border-collapse: collapse;
                   padding: 0.3em;
                   caption-side: bottom;
                }
                .caption {
                   padding: 0.3em;
                   color: #fff;
                    background: #3dcc6c;
                }
                th {
                   background: #eee;
                }
            </style>
            <table>
                <tbody>
                    <tr>
                        <td class="caption">&nbsp;Numero Telefonmico</td>
                        <td class="caption">&nbsp;Parroquía</td>
                        <td class="caption">&nbsp;Tipologia</td>
                    </tr>
                    <tr>
                        <td>&nbsp;072570540</td>
                        <td>&nbsp;Loja</td>
                        <td>&nbsp;HOSPITAL GENERAL</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" href="tel:">
                <img src="img/apbfpkndSQYv0PRGPDz8_HIA.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>