<ion-view title="Información de los Horarios" id="page12" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <style type="text/css">
                table {
                   width: 100%;
                   border: 1px solid #000;
                }
                th, td {
                   width: 25%;
                   text-align: left;
                   vertical-align: top;
                   border: 1px solid #000;
                   border-collapse: collapse;
                   padding: 0.3em;
                   caption-side: bottom;
                }
                .caption {
                   padding: 0.3em;
                   color: #fff;
                   background: #3dcc6c;
                }
                th {
                   background: #eee;
                }
            </style>
            <table border="2" aling="center">
                <tbody>
                    <tr>
                        <td class="caption">&nbsp;Nombre</td>
                        <td class="caption">&nbsp;Especialidad</td>
                        <td class="caption">&nbsp;Dias</td>
                        <td class="caption">&nbsp;Horas</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Dr. Juan Pinzon</td>
                        <td>&nbsp;Medicina General</td>
                        <td>&nbsp;Lunes a Viernes</td>
                        <td>&nbsp;8:00 a 17:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>