<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/logo 2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="maps" id="inicio-button1" style="left:-10px;font-weight:500;" class=" button button-balanced  button-full icon-right ion-android-arrow-dropright ">Buscar Unidades de Salud</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="buscarMedico" id="inicio-button2" style="left:-10px;font-weight:500;" class=" button button-balanced  button-full icon-right ion-ios-search ">Buscar Medico</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="ayuda" id="inicio-button3" style="left:-10px;font-weight:500;" class=" button button-balanced  button-full icon-right ion-help ">Ayuda</a>
        </div>
    </ion-content>
</ion-view>
