<ion-view title="Maps" id="page2" style="background-color:#D8E9D5;" class=" ">
    <ion-content>
        <form id="maps-form5" class="list ">
            <ion-radio id="maps-radio1" class=" ">Publicas</ion-radio>
            <ion-radio id="maps-radio2" class=" ">Privadas</ion-radio>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="teclee un Centro de Salud">
            </label>
        </form>
        <ion-content>
          <ng-map style="width: 100%;
          height: 100%;" center="[-3.993543899999999, -79.20616489999998]" zoom="16"></ng-map>
        </ion-content>
        <!--
        <ion-content padding="true" class="has-header">
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="informaciN">
                <img src="img/vqdcR6D9RqyRLz3uFc3h_MapaPrivadas.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
      -->
    </ion-content>
</ion-view>
