<ion-view title="Resultado Busqueda" id="page10" style="background-color:#D8E9D5;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="resultadoBusqueda-form7" class="list ">
            <label class="item item-input" name="buscarM">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Odontologia ">
            </label>
        </form>
        <a ui-sref="buscarMedico" id="resultadoBusqueda-button6" style="font-weight:600;font-size:21px;border-radius:5px 5px 5px 5px;" class=" button button-balanced  button-block icon-right ion-android-search ">Buscar</a>
        <ion-list id="resultadoBusqueda-list6" class=" ">
            <ion-item class="item-icon-left item-icon-right balanced  " id="resultadoBusqueda-list-item10" ui-sref="informaciNDeLosMedicos">
                <i class="icon ion-person"></i>Odontología
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right balanced  " id="resultadoBusqueda-list-item12">
                <i class="icon ion-android-person"></i>Ostodoncia
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>